

#main-container {
    overflow: hidden !important;
    min-height: 50vh !important;
}

.recipe-settings-section1 {
    padding: 1% !important;
    background: rgba(255,255,255,0.965) !important;
    width: 75% !important;
}

.fh.w800.oa {
    width: 100% !important;
}

.btn-run-group {
    margin-left: 14%;
}

.btn-run-group > button {
    background: orange !important;
    color: black !important
}

.btn-run-group > button:hover,
.btn-run-group > button:active,
.btn-run-group > button:focus {
    filter: brightness(1.15);
}

.dss-page {
    background: url(/plugins/KC_TestPlugins/resource/img/chart2.jpg) !important;
}

.dss-page.cluster-analysis {
    background: url(http://datablend.be/wp-content/uploads/2013/12/yelp-graph.jpg) !important;
    background-size: contain !important;
    background-position-x: -130px !important;
}

/*#tabs-required input, #tabs-required select,
#tabs-optional input, #tabs-optional select {
    zoom: 90%;
}*/

.custom-code-recipe-title {
    text-align: center !important;
    font-weight: bold !important;
    color: white !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.mainPane > div:first > div:first > div.recipe-settings-section2 {
    text-align: center !important;
}

.mainPane > div:first > div:first > div.recipe-settings-section2 > a {
    color: orange !important;
    width: 100% !important;
}

.recipe-settings-section1-title {
    font-weight: bold !important;
}

::-webkit-scrollbar-thumb {
    background: orange !important;
}

input:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,165,0,.6) !important;
    border-color: rgba(255,165,0, 0.8) !important;
}

::selection {
    background: orange !important;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.dss-page, #main-container {
    display: none;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.job-result {
    display: none !important;
}

/*.job-result {
    position: fixed !important;
    top: 0 !important;
    left: 50% !important;
    transform: translate(-50%, 45%) !important;
    background: orange !important;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.5) !important;
}

.job-result pre {
    display: none !important;
}

.job-result a[href] {
    text-align: center !important;
    display: block !important;
    width: 100% !important;
    font-size: 18px !important;
    margin-top: 18px !important;
    font-weight: bold !important;
    color: black !important;
}


.job-result a:not([href]) {
    color: black !important;
    display: block !important;
    transform: translateY(-4px) !important;
    zoom: 150%;
    border-radius: 50%;
}

.job-result a:not([href]):hover, .job-result a:not([href]):focus {
    text-decoration: none !important;
}

.job-result h4 {
    white-space: pre-wrap !important;
    display: block !important;
    unicode-bidi: embed !important;
    font-size: 12px !important;
    padding: 2% !important;
    background: ghostwhite !important;
    color: black !important;
    font-weight: normal !important;
    font-family: monospace !important;
    margin: auto !important;
}*/

/*.recipe-job-result {
    position: absolute !important;
    width: 40% !important;
    right: 15% !important;
    top: 25% !important;
}*/

.ui-tabs {
    font-family: 'SourceSansPro' !important;
}

.ui-tabs table {
    margin-bottom: 0;
}

select[multiple] {
    overflow: auto;
}

input[type="checkbox"] {
    margin-top: 0 !important;
    margin-left: 1px !important;
}

div.tagsinput span.tag {
    background: lightgrey !important;
    color: black !important;
    border: none !important;
}

div.tagsinput span.tag a {
    color: black !important;
}

.ng-invalid:not(form) {
  border:1px solid #f00;
}

span.ui-dialog-title::first-letter {
    text-transform: uppercase !important;
}

label.inner-label {
    float: left;
    margin-right: 8px;
    margin-top: 4px;
}

div.inner-cell {
    margin-top: 8px;
    margin-bottom: 8px;
}

.other a {
    width: 100%;
    color: #0088cc !important;
    text-align: center;
    display: block;
    margin-top: 6vh;
}

.warning-div {
    margin-bottom: 0.5em
}

.label-warning {
    background-color: #f0ad4e;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}